# rm the .idea
# command: git rm -r --cached .idea
.idea/

# rm the .pyc
# command: git rm --cached *.pyc
*.pyc

# rm the Steps to Execute JNFuzzDroid's output, out1
src/out1/

# ignore file changes (does not track file modifications)
src/out/

src/lib/examples/client
src/lib/examples/server

src/lib/lib/libspsc.a
